@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@300;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&display=swap");

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: 112.5%/1.45em georgia, serif, sans-serif;
  box-sizing: border-box;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsla(0, 0%, 0%, 0.8);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
  margin: 0;
  padding: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 0;
  color: inherit;
  font-family: -apple-system, "Londrina Solid", BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  font-weight: 800;
  text-rendering: optimizeLegibility;
  font-size: 1.3rem;
  line-height: 1.1;
  letter-spacing: 0.05rem;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 0;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace;
  font-size: 1em;
}
figure {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 0;
}
hr {
  box-sizing: content-box;
  overflow: visible;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: calc(1.45rem - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: 700;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid silver;
  padding: 0.35em 0.625em 0.75em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 0;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
h2 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 0;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.62671rem;
  line-height: 1.1;
}
h3 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 0;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.38316rem;
  line-height: 1.1;
}
h4 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 0;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.1;
}
h5 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 0;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.85028rem;
  line-height: 1.1;
}
h6 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 0;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.78405rem;
  line-height: 1.1;
}
hgroup {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 0;
}
ul,
ol,
dd {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 0;
}
p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 0;
}
pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 0.85rem;
  line-height: 1.42;
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  overflow: auto;
  word-wrap: normal;
  padding: 1.45rem;
}
table {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
  line-height: 1.45rem;
  border-collapse: collapse;
  width: 100%;
}
blockquote {
  margin-left: 1.45rem;
  margin-right: 1.45rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 0;
}
noscript {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 0;
}
iframe {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 0;
}
address {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 0;
}
b {
  font-weight: bold;
}
strong {
  font-weight: bold;
}
dt {
  font-weight: bold;
}
th {
  font-weight: bold;
}
blockquote *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
code {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
kbd {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
samp {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
thead {
  text-align: left;
}
td,
th {
  text-align: left;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  padding-left: 0.96667rem;
  padding-right: 0.96667rem;
  padding-top: 0.725rem;
  padding-bottom: calc(0.725rem - 1px);
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}
tt,
code {
  background-color: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono",
    "Liberation Mono", Menlo, Courier, monospace;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
pre code {
  background: none;
  line-height: 1.42;
}
code:before,
code:after,
tt:before,
tt:after {
  letter-spacing: -0.2em;
  content: " ";
}
pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: "";
}

.arrow,
.arrow:before {
  position: absolute;
  left: 50%;
}

.arrow {
  width: 30px;
  height: 30px;
  top: 50%;
  margin: -15px 0 0 -15px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 2px #000 solid;
  border-bottom: 2px #000 solid;
}

.arrow:before {
  content: "";
  width: 15px;
  height: 15px;
  top: 50%;
  margin: -7px 0 0 -7px;
  border-left: none;
  border-top: none;
  border-right: 2px #000 solid;
  border-bottom: 2px #000 solid;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: arrow;
}

@keyframes arrow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-5px, -5px);
  }
}

.head {
  display: block;
  font-size: 18px;
  padding: 10px 10px;
  line-height: 1;
  color: black;
  text-decoration: none;
  text-transform: lowercase;
}

@media (max-width: 600px) {
  .head {
    font-size: 16px;
  }
}

svg {
  position: relative;
  vertical-align: top;
}

.white-padding {
  width: 100%;
  height: 38px;
  display: block;
  background: white;
}

.navWrapper {
  color: white;
<<<<<<< HEAD
  width: 100%;
  background: white;
  position: absolute;
  display: block;
  
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 10;
=======
  display: block;
  position: absolute;
>>>>>>> master
  align-items: center;
  justify-content: space-between;
}

.top-logo {
  display: inline-block;
}

.languages {
  display: inline-block;
  float: right;
  padding: 10px 10px;
  vertical-align: top;
}

.navWrapper h1 {
  line-height: inherit;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: -0.01rem;
  font-size: inherit;
}

.navWrapper ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
}
.navWrapper ul > li:first-of-type {
  border-top: 1px solid #222;
}

.navWrapper li {
  border-bottom: 1px solid #333;
}

.navWrapper .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

.navWrapper .menu-icon {
  cursor: pointer;
  display: inline-block;
  padding: 22px 0px 10px 10px;
  margin-left: 7px;
  position: relative;
  user-select: none;
}

.navWrapper .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 22px;
}

.navWrapper .menu-icon .navicon:before,
.navWrapper .menu-icon .navicon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.navWrapper .menu-icon .navicon:before {
  top: 6px;
}

.navWrapper .menu-icon .navicon:after {
  top: -6px;
}

/* menu btn */

.navWrapper .menu-btn {
  display: none;
}

.navWrapper .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.navWrapper .menu-btn:checked ~ .menu-icon .navicon {
  background: none;
}

.navWrapper .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.navWrapper .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.navWrapper .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.navWrapper .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

@media (min-width: 35em) {
  .navWrapper li {
    float: left;
    border: none;
  }

  .navWrapper ul > li:first-of-type {
    border-top: 0px solid #222;
  }

  .navWrapper .menu {
    clear: none;
    float: left;
    max-height: none;
  }
  .navWrapper .menu-icon {
    display: none;
  }
}

.intro {
  margin: auto;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  width: 100%;
  overflow: visible;
  padding: 15vh 0rem 12vh;
  background-image: url("../images/spinning-arrows.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: calc(45vh + 10vw);
}

.logo-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-text {
  color: #222;
  text-align: center;
  font-size: calc(3rem + 5vw);
  white-space: nowrap;
  clear: both;
  margin-top: -3rem;
}

.circle {
  width: 30vw;
  max-width: 12rem;
  margin: 0rem 0.5vh;
  display: inline-block;
}

.claire-face {
  width: 34vw;
  max-width: 13rem;
  padding-bottom: 3rem;
  opacity: 1;
  transform: translate(-0.3rem, 0);
}

.terry-face {
  padding-bottom: 1rem;
  transform: rotate(10deg) translate(-0.3rem, -0.5rem);
  margin: 0rem -0.5vh;
}

.cavin-face {
  transform: rotate(-10deg) translate(-0.3rem, -0.6rem);
}

.scroll-box {
  color: black;
  font-weight: 800;
  left: 50%;
  transform: translate(-50%, 0%);
  position: absolute;
  margin-bottom: 1rem;
  bottom: 0;
}

.arrow-container {
  margin-bottom: 0px;
  position: relative;
  height: 50px;
}

input,
textarea {
  font-weight: 500;
  border-radius: 10px;
  width: 100%;
  padding: 10px 15px;
  border: 0;
  box-sizing: border-box;
  background-color: #fff;
  margin-bottom: 25px;
  margin-top: 5px;
}

::placeholder {
  font-weight: 400;
}

.submit-song {
  display: block;
  position: relative;
  margin: auto;
  align-items: center;
  text-align: left;
  background: rgb(182, 216, 242);
  background: linear-gradient(
    320deg,
    rgba(182, 216, 242, 0.1) 0%,
    rgba(244, 207, 223, 0.5) 51%,
    rgba(247, 246, 207, 0.4) 100%
  );
}

form {
  margin: auto;
  padding: 1rem 0.5rem 5rem;
  width: 100%;
  max-width: 30rem;
}

.margin-bottom {
  margin-bottom: 2rem;
}

.margin-top {
  padding-top: 5rem;
}

label {
  font-weight: 800;
  margin-left: 3px;
}

.center {
  align-items: center;
  text-align: center;
}

button {
  margin-top: 20px;
  font-weight: 600;
  border-radius: 15px;
  padding: 10px 25px;
  border: 0;
  box-sizing: border-box;
  background-color: rgba(92, 184, 255, 0.9);
  color: white;
}

.container {
  max-width: 53rem;
  margin: 0 auto;
  padding: 0 1rem 1.45rem;
}

.about-cover .gatsby-image-wrapper {
  min-height: 25vh;
}

.about-text {
  margin-top: 2rem;
}

.about-text h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}
